body {
    background-color: #34383f;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: left;
  }

  /* .lists{
      margin-left: auto;
      margin-right: auto;
      float: left;
      border: solid white 2px;
      padding: 2rem;
  } */

  .tasklist .component {
      border: solid white 2px;
  }
